name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build-and-test:
    name: Build and test
    strategy:
      matrix:
        runner: [macos-14, ubuntu-24.04]
    runs-on: ${{ matrix.runner }}
    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
        
    - uses: actions/checkout@v4

    - name: Build
      run: go build -v

    - name: Test
      run: go test -v
    
    - name: Run example
      working-directory: example
      run: go run example.go
